body {
    font-family: arial, sans-serif;
    margin: 40px;
    background-color: rgb(219, 187, 146);
    color: rgb(46, 25, 1);
} 
.header{
    text-align: center;
    margin-bottom: 30px;
}

.profile{
    width: 250px;
    border-radius: 50%;
}

.highlight{
    color: #0077cc;
}

.section {
    background-color: rgb(246, 247, 216);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba (0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
    
    th {
    background-color: #0077cc;
    color: white;
}

a {
    color: #0077cc;
    text-decoration: none;
}
    a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: gray;
}